.app {
  text-align: center;
}

.nav{
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* width: 50%; */
}

.form__input {
  width: 60%;
  border: 0;
  border-bottom: 2px solid gray;
  font-size: 20px;
  padding: 8px 0;
  transition: border-color 0.2s;
  outline: 0;
  /* background: transparent; */
}

.btn {
  cursor: pointer;
  background: #0F0F6D;
  color: #fff;
  font-size: 1.1em;
  padding: 0.5em;
  border: 0;
  border-radius: 10px;
  transition: all 0.5s; 
}
